body {
    background-color: hsl(204, 43%, 93%);
    color: white;
    font-size: 16px;
    font-family: Karla,sans-serif;
}


.parent {
    width: 600px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 1fr;
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    box-shadow: 0 0 10px 0 #DDD;
    
    
    transition: width 2s .2s ease-in-out;
}

.section {
    padding-top: 20px;
    padding-left: 40px;
}



.section1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    grid-column: 1/3;
    grid-row: 1/2;
}

.section1 h1 {
    color : hsl(179, 62%, 43%);
}

.section1 .para {
    color: hsl(71, 73%, 54%);
    font-weight: bold;
}

.section1 p {
    color: hsl(218, 22%, 67%);
}


.section2{
    border-bottom-left-radius: 10px;
    background-color: darkcyan;
}

.section2 p .dollar{
    color: white;
    font-size: 30px;
}
.section2 p span{
    color: hsl(218, 22%, 67%);
}

button{
    border-color: transparent;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #DDD;
}
.section3{
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 62%, 43%);
}


footer{
    width: 100%;
    color: red;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer a {
    text-decoration: none;
    color: black;
    background-color: burlywood;
}

@media (max-width: 375px;) {
    .parent{
        display: flex;
        flex-direction: column;
    }
}

.parent:hover{
    width:100%;
}
